header.header
    div.div_nav.div_logo
        a.header_logo(href='/')
            img.img_logo(src='/img/logo.png' alt='CollinsBuilt Pools Logo')
    div.div_nav.div_menu
        a.nav_element(href='#') Home
        a.nav_element(href='#') Services
        a.nav_element(href='#') About
        a.nav_element(href='#') Projects
        a.nav_element(href='#') Contact